In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MultiLabelBinarizer

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [4]:
market_df = pd.read_csv("assets/shopping_basket.csv")

In [5]:
market_frequent_itemsets = apriori(market_df, min_support=0.005, use_colnames=True)

In [6]:
market_frequent_itemsets

      support                                      itemsets
0    0.020397                                     (almonds)
1    0.008932                           (antioxydant_juice)
2    0.033329                                     (avocado)
3    0.008666                                       (bacon)
4    0.010799                              (barbecue_sauce)
..        ...                                           ...
720  0.007466              (soup, spaghetti, mineral_water)
721  0.009332          (spaghetti, tomatoes, mineral_water)
722  0.006399            (turkey, spaghetti, mineral_water)
723  0.006266  (spaghetti, mineral_water, whole_wheat_rice)
724  0.005066              (spaghetti, pancakes, olive_oil)

[725 rows x 2 columns]